body{
    background-color: #fafafa;
}
.int_pic{
    margin-top: 80px;
    margin-left: 570px;
    float:left;
}
.name{
    margin:22px auto 20px;
}
.reg{
    background-color: white;
    border: 1px;
    border-color:#dbdbdb;
    box-sizing: border-box;
    margin-right:550px;
    width: 370px;
    height: 380px;
    text-align: center;
    float:right;
    margin-top: 100px;
    border: 1px solid;
    border-color:#dbdbdb;
}
.sign_up{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right:550px;
    margin-top: 10px;
    width: 368px;
    text-align: center;
    height: 60px;
    background-color:white;
    float:right;
    vertical-align: middle;
    border: 1px solid;
    border-color:#dbdbdb;
}
.sign_up a{
    color:#0095f6;
}
.login{
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px 20px 0px 20px;
    padding: 6px 20px;
    width: 240px;
    height: 32px;
    border:1px solid #dbdbdb;
    color: #1d2129;
    border-radius: 4px;
    font-size: 11px;
    background-color: #fafafa;
}
.password{
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px 20px 0px 20px;
    padding: 6px 20px;
    width: 240px;
    height: 32px;
    border:1px solid #dbdbdb;
    color: #1d2129;
    border-radius: 4px;
    font-size: 11px;
    background-color: #fafafa;
}
.sign_in{
    background-color: #c0dff2;
    width: 280px;
    height: 35px;
    padding: 6px 20px;
    text-align: center;
    margin: 10px 0px -5px 0px;
    color: white;
    border: 0px;
    border-radius: 4px;
    font-size:15px;
    border-color: #c0dff2;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: bold;
}
.sign_in a{
    text-decoration: none;
    color:white;
}
.sign_in:hover{
    background-color:#166FE5;
    cursor: pointer;
}
.line{
    align-items: center;
    border-bottom: 1px solid gainsboro;
    display: flex;
    margin: 20px 10px 13px 45px;
    width: 100px;
}
.line2{
    align-items: center;
    border-bottom: 1px solid gainsboro;
    display: flex;
    margin: 240px 220px;
    margin-top: -12px;
    width: 100px;
}
.or{
    margin-top: -255px;
    font-size: 18px;
    color: #8E8E8E;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.forgot{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    margin-top: -5px;
}
.forgot a{
    color:#1877F2;
}
.forgot a:hover{
    text-decoration: none;
}
.forgot a{
    color: blue;
    text-decoration: none;
}
.reg1{
    margin-top:18px;
}
.reg2 {
    text-decoration: none;
}
.download{
    position: absolute;
    top: 560px;
    left: 1090px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.apps_pic{
    margin-left: 80px;
    margin-top: 40px;
}
.fac_pic{
    margin-top: -35px;
}
.foot{
    width: 1000px;
    background-color: #fafafa;
    margin-left: 210px;
    margin-top: 75px;
    text-align: center;
    float:left;
    padding: 15px 510px 10px 0px;
}
.foot_inf{
    width: 1000px;
    margin-left: 255px;
    height: 40px;
    line-height: 35px;
    font-size: 12px;
    color:#848484;
    font-family: Arial, Helvetica, sans-serif;
}
.foot_inf a{
    color:#848484;
    display: inline;
    margin-left: 6px;
    text-decoration: none;
}
.foot_inf a:hover{
    text-decoration: underline;
}
.foot_lang{
    width: 1000px;
    margin: 50px 120px 0 252px;
    font-size: 12px;
    color:#848484;
    font-family: Arial, Helvetica, sans-serif;
}
.foot_lang a{
    color:#848484;
    display: inline-block;
    margin-right: 10px;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
}
.foot_lang a:hover{
    text-decoration: underline;
}
.foot_lang p{
    margin-top: 20px;
    margin-left: 0px;
}

